/* import fonts */
@import url('./fonts.css');

/* import utility styles */
@import url('./utility.css');

/* import general styles */
@import url('./general.css');

/* set variables */
:root {
    --default-color: #444;
    --light-color: #fef;
    --header-background: rgb(44, 51, 51, .8);
    --primary-color: #FF8400;
    --secondary-color: #FFD93D;
    --border-color: #D6E4E5;
    --primary-font: Vazir;
    --secondary-font: Shabnam;
}

/* header styles */
header {
    position: fixed;
    width: 100%;
    padding: .4rem 0;
    color: var(--light-color);
    z-index: 1;
    background-color: var(--header-background);
}

.header__logo {
    order: 1;
}

.header__logo__img {
    width: 2.75rem;
    height: 2.75rem;
    margin-left: .4rem;
}

.header__logo__title {
    display: none;
}


.header__menu {
    display: none;
}

.header__menu__active {
    color: var(--primary-color);
    transition: border-bottom 1s;
    font-weight: bolder;
}

.header__hamburger__button {
    color: var(--light-color);
}

.header__gadget {
    order: 1;
}

.header__gadget__search {
    position: relative;
    margin-left: 1rem;
    border-radius: 1rem;
    width: 2.5rem;
    transition: all 1s;
    border: 1px solid var(--border-color);
}

.header__gadget__search__input {
    width: 100%;
    padding: .4rem;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    transition: width 1s;
    opacity: 0;
    color: var(--light-color);
}

.header__gadget__search:hover {
    width: 10rem;
    background-color: var(--header-background);
}

.header__gadget__search:hover .header__gadget__search__input {
    transition: opacity 5s;
}

.header__gadget__search:hover .header__gadget__search__input {
    opacity: 100;
}

.header__gadget__search .header__gadget__search__icon {
    transition: all 1s;
}

.header__gadget__search:hover .header__gadget__search__icon {
    opacity: 0;
}

.header__gadget__search__icon {
    position: absolute;
    right: .5rem;
    top: .4rem;
    color: var(--light-color) !important;
    transition: display 3s;
}


.header__gadget__lang {
    width: 2rem;
    padding: .4rem;
    border-radius: 1rem;
    transition: background 1s;
    position: relative;
}

.header__gadget__lang:hover {
    background: var(--secondary-color);
}

.header__gadget__lang ul {
    position: absolute;
    top: 1.3rem;
    left: 0;
    padding: .6rem;
    background: #2C3333;
    border-radius: 1rem;
    display: none;
    transition: opacity 2s;
    opacity: 0;
    z-index: 2;
}

.header__gadget__lang:hover ul {
    display: block;
    opacity: 100;
}

.header__gadget__lang img {
    width: 2rem;
    border-radius: .5rem;
}

aside {
    width: 100%;
    height: calc(100vh - 3.57rem);
    background: var(--header-background);
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(200%);
    transition: transform 1s;
    z-index: 2;
}

aside ul li {
    margin: 1rem 0;
    text-align: center;
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
}

.intro>video {
    width: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
}


/* large mobile device */
@media (min-width: 480px) {
    .container {
        max-width: 460px;
    }

    .header__logo__title {
        display: block;
        font-size: .9rem;
    }
}

/* tablet sizes */
@media (min-width: 640px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 728px;
    }

    .header__menu {
        display: block;
    }

    .header__menu>.header__menu__item {
        display: inline-block;
        margin-left: 1.3rem;
        font-size: .9rem;
    }

    .header__hamburger__button {
        display: none;
    }

    .header__logo {
        order: 0;
    }

    .header__logo__title {
        font-size: 1.2rem;
    }

    aside {
        display: none;
    }

}

/* laptop device */
@media (min-width: 1024px) {
    .container {
        max-width: 984px;
    }

    .header__menu>.header__menu__item {
        margin-left: 1.75rem;
        font-size: 1rem;
    }
}

/* large devices */
@media (min-width: 1280px) {
    .container {
        max-width: 1240px;
    }
}