/* utility classess */
.container {
    width: 95%;
    margin: 0 auto;
}

/* displays */
.flex {
    display: flex;
}

/* flex utility classes */
.justify-between {
    justify-content: space-between;
}

.justify-around { 
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* svg */
.svg-md {
    width: 1.5rem;
    height: 1.5rem;
}

.svg-lg {
    width: 2rem;
    height: 2rem;
}

.svg-sm {
    width: 1rem;
    height: 1rem;
}

.vertical-bottom {
    vertical-align: bottom;
}

/* position utilities */
.relative {
    position: relative;
}

/* fonts utilities */
.font-vazir {
    font-family: Vazir;
}

.font-shabnam {
    font-family: Shabnam;
}

.font-bold {
    font-weight: bold;
}

.font-extrabold {
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* colors utilities */
.color-light {
    color: var(--light-color);
}